<section data-scroll-index="4">
    <div class="contact">
        <div class="header">
            <h1 class="title">{{ .Site.Params.Contact.Title }}</h1>
            <p>
                Thomas Castelijns <br>
                thomas@tca-datasolutions.nl <br>
                {{ if eq .Site.Language.LanguageName "Nederlands"}}
                Breda, Nederland <br>
                {{ end }}
                {{ if eq .Site.Language.LanguageName "English"}}
                Breda, Netherlands <br>
                {{ end }}
                KvK: 82015724 <br>
            </p>
        </div>
    </div>
</section>