<nav class="main-navigation stuckMenu">
    <a href="{{ .Site.BaseURL }}">
        <img class="logo" src="{{ .Site.BaseURL }}img/{{ .Site.Params.logo_nav }}" alt="My Portfolio">
    </a>
    <h4 class="quote-navigation">{{ .Site.Params.Nav.quote }}</h4>
    <div class="sub-navigation">
        {{ $baseUrl := .Site.BaseURL }}
        <a href="{{ .URL }}" class="main-navigation-link">{{.Site.Params.case_studies.Top}}</a>
        <a href="{{ .Site.BaseURL }}" class="main-navigation-link" data-scroll-goto="2">{{.Site.Params.case_studies.Title}}</a>
    </div>
</nav>



